    <div class="panel panel-default">
      <div class="panel-heading">Connections ( <%= @current_user.connections.count %> )</div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Action</th>
              <th>Provider</th>
              <th>URL</th>
              <th>Port</th>
              <th>User</th>
              <th>Secure</th>
              <th>Trust</th>
              <th>Date Created</th>
            </tr>
          </thead>
        <tbody>
          <% @connections.each do |c| %>
            <tr>
              <td> Delete | Edit </td>
              <td><%= c.provider %> </td>
              <td><%= c.url %></td>
              <td><%= c.port %></td>
              <td><%= c.db_user %></td>
              <td><%= c.ssl %></td>
              <td><%= c.ssl_trust %></td>
              <td><%= c.created_at %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>