<%= form_for([current_user, @connection]) do |f| %>
  <!-- Modal -->
    <div class="modal fade" id="myNewConnection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Connection</h4>
          </div>


          <div class="modal-body">

            <div class="form-inline">
              <div class="form-group">             
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">URL</span>
                  <%= f.url_field :url, class: "form-control connection_url" %>
                </div>

                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">:</span>
                  <%= f.number_field :port, class: "form-control connection_port" %>
                </div>
              </div>
            </div>

            <div class="form-group">
                <hr/>
                <h4>Database User</h4>               
                <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">User</span>
                <%= f.text_field :db_user, class: "form-control connection_db_user", placeholder: "User" %>
                </div>
            </div>
            

            <div class="form-inline">
              <div class="form-group"> 
                <div class="field">
                  <%= f.password_field :password, class: "form-control connection_password",placeholder: "Password" %>
                  <%= f.password_field :password_confirmation, class: "form-control connection_password_confirmation", placeholder: "Confirmation" %>
                </div>
              </div>
            </div>
            <div class="form-inline">
              <div class="form-group"> 
                <hr />
                <h4>Security</h4>   
                <%= f.label "ssl", "SSL" %>
                <%= f.check_box :ssl, class: "form-control connection_ssl", 'data-toggle'=> "toggle" %>

                <%= f.label "ssl_trust", "Trust" %>
                <%= f.check_box :ssl_trust, class: "form-control connection_ssl_trust", 'data-toggle'=> "toggle" %>
              </div>
            </div>

            <div class="form-group"> 
              <hr />
              <h4>Certificates</h4>
              <%= f.label "ca_cert", "CA-Certificate" %>
              <%= f.text_area :ca_cert, class: "form-control connection_ca_cert" %>

              <%= f.label "user_cert", "User-Certificate" %>
              <%= f.text_area :user_cert, class: "form-control connection_user_cert" %>

              <%= f.label "user_key", "Private Key" %>
              <%= f.text_area :user_key, class: "form-control connection_user_key" %>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= submit_tag "Create", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %> 