<% if current_user %>

<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Here is some info about you...</h1>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4 ">
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- Button Trigger Modal -->
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myNewConnection">
            New Connection
          </button>
          <hr/>         
          <a class="twitter-timeline" href=<%=current_user.url %> >Tweets by @current_user.name</a> 
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul>
            <li><strong>Name:</strong> <%= current_user.name %></li>
            <li><strong>Provider:</strong> <%= current_user.provider %></li>
            <li><strong>uID:</strong> <%= current_user.uid %></li>
            <li><strong>Location:</strong> <%= current_user.location %></li>
            <li><strong>Avatar URL:</strong> <%= current_user.image_url %></li>
            <li><strong>URL:</strong> <%= current_user.url %></li>
            <li><strong>Active connections:</strong> <%= current_user.connections.count %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <%= render "connection_list" %>
    </div>
  </div>
  


  <!-- Create -->
  <div class="container_connections">
    <% # render @connections %>
  </div>

  <%= render "create_connection"%>





</div>
<% else %>
  <%= render 'welcome' %>
<% end %>